.input{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

input, textarea{
    background: #D3E4CD;
    border-radius: 12px;
    width: 100%;
    border: none;
    margin-left: 12px;
    flex: 1;
    margin: 5px 0px;
    padding: 10px;
}

textarea{
    min-height: 150px;
}

input:focus, textarea:focus{
    outline: none;
}

button{
    margin :5px ;
    
    background-color: #ADC2A9 ;
    border: none;
    border-radius: 10px;
    height: 30px;
    width: 80px;
}