.todoList{
    display: flex;
    align-items: center;
    width: 80%;
    background-color: #D3E4CD;
    margin: 6px 4px;
    border-radius: 12px;
    flex-flow: wrap column;
}

.todoItem{
    width: 90%;
    height: 50px;
    display: inherit;
    align-items: center;
    justify-content: space-between;

}

.todoItem--done{
    text-decoration: line-through;
}

button{
}

.descContainer{
    display: inherit;
    background-color: #FEF5ED;
    width: 90%;
    height: 100px;
    margin-bottom: 6px;
    border-radius: 12px;
    padding: 5px;
}