.App{
    height: 100vh;
    width: 100vw;
    color: #000;
    background-color: #FEF5ED;
    display: grid;
    place-items: center;
}

.app__container{
    height: 700px;
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #99A799 ;
    padding: 32px 0px;
    border-radius: 12px;
}

.app__todoContainers{
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}